#banner-title {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 54px;
}

#motto {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1.7rem;
}

#banner {
  background: url(https://i.imgur.com/frHbYvL.png),
    linear-gradient(to right, rgb(255, 255, 255), 70%, rgba(126, 209, 247, 0.5));
  background-size: cover;
  background-position: center;
  height: 550px;
}

.navbar {
  position: relative;
  z-index: 1100;
}

.modal {
  pointer-events: none;
}

.modal.show {
  pointer-events: auto;
}

#app {
  height: 100%;
  margin: 0;
}

.login-card h2 {
  color: #8b5cf6;
  font-weight: 600;
}

.login-card {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.85);
}